/* RESPONSIVE CSS */

@media only screen and (max-width: $bp-medium) {
  .wrapper {
    padding: 5rem 0;
  }
  .container {
    grid-template-rows: 30rem 1fr;

    &__left {
      grid-row: 2 / -1;
      grid-column: 1 / -1;
      margin-right: 1rem;
    }

    &__right {
      grid-row: 1 / 2;
      grid-column: 1 / -1;
      text-align: center;
      margin: 0 1rem;
    }
  }
}

@media only screen and (max-width: $bp-small) {
  .container {
    grid-template-rows: 39rem 1fr;
  }
}
@media only screen and (max-width: $bp-small-2) {
  .container {
    grid-template-rows: 44rem 1fr;
  }
}
@media only screen and (max-width: $bp-small-5) {
  .container {
    grid-template-rows: 46rem 1fr;
  }
}
/* RESPONSIVE CSS END */
