@media only screen and (max-width: $bp-wide-3) {
  .sliderSectionContainer__left {
    height: 44rem;
    @media only screen and (max-width: $bp-small-2) {
      height: 38rem;
    }
    .slider__img {
      height: 20rem;
      @media only screen and (max-width: $bp-small-2) {
        height: 17.5rem;
      }
    }
  }
  .sliderSectionContainer__right {
    .infoTitle {
      font-size: 2rem;
    }
    .infoText {
      font-size: 1.4rem;
    }
  }
}

@media only screen and (max-width: $bp-large) {
  .sliderSectionContainer__right {
    .infoTitle {
      margin-top: 2rem;
      text-align: center;
    }
  }
}
