.sliderSectionContainer {
  margin: 2rem auto;
  &__left {
    height: 54rem;
    .slider {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      direction: rtl;
      &__ul {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: relative;
        left: 0;
        padding: 0;
        margin: 0;
      }
      &__li {
        &:first-child img {
          opacity: 1;
        }
      }
      &__img {
        width: auto;
        height: 25rem;
        border-radius: 1rem;
        margin: 0 0.5rem;
        opacity: 0.3;
        transition: all 0.3s ease-in-out;
      }
    }
    .nav {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      &__btn {
        background: transparent;
        border-color: rgba(128, 128, 128, 0.1¸);
        border-radius: 5px;
        padding: 0;
        margin: 0.5rem 0;
        cursor: pointer;
        &:focus {
          outline: none;
        }
      }
      &__img {
        padding: 2rem;
      }
    }
  }
  &__right {
    .infoTitle {
      color: $color-primary;
      font-size: 2.5rem;
      font-weight: 800;
      margin-top: 0rem;
    }
    .infoText {
      font-size: 1.7rem;
    }
  }
}

/* SLIDER CSS END */
